.user-container {
  background-color: #e8e7e1;
  min-height: 750px;
  padding-top: 2%;
  padding-bottom: 2%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 150px auto;
  grid-template-areas: "month add"
                        "overall all";
}

.set-month {
  grid-area: "month";
  background-color: aliceblue;
  padding: 30px;
}

.create-transaction {
  grid-area: "add";
  padding: 30px;
}

.month-overall {
  grid-area: "overall";
  background-color: blueviolet;
  padding: 30px;
}

.all-transactions {
  grid-area: "all";
  background-color: darksalmon;
  min-height: 500px;
  padding: 30px;
}
