.month-overall-div {
  background-color: white;
  padding: 0.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.month-overall-div h5 {
  text-decoration: underline;
  text-align: center;
}
