.set-month-div {
  background-color: white;
  padding: 0.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  min-height: 100px;
  padding: 2%;
  width: 100%;
}

.set-month-div h5 {
  text-decoration: underline;
  text-align: center;
}

.set-month-div select {
  margin-left: 35%;
}

.set-month-div select:hover {
  cursor: pointer;
}
