.transaction {
  background-color: inherit;
}

.custom {
  background-color: #edc5c8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid black;
  border-radius: 2px;
}

.custom:hover {
  cursor: pointer;
  background-color: #9e555c;
}
